/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./cssloaders.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.form_serch{
  margin-top: 36px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
}
input{
  width: 272px;
  height: 40px;
}
button{
  min-width: 91px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #4E75FF;
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}
.serch{
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.is-open{
  display: none;
}

h2{
  color: #2E2F42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
}

.gallery{
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item{
  width: 360px;
  border: 1px solid #808080;
}

.gallery-image{
  display: flex;
  width: 360px;
  height: 200px;

}

.description{
  display: flex;
  flex-wrap: wrap;
}

.description-item{
  display: flex;
  flex-wrap: wrap;
  width: 90px;
  flex-direction: column;
  align-items: center;
}

.picture_load{
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.hidden{
  display: none;
}